<div class="home-contain">
    <div>
        <p>Use without account</p>
    </div>
    <div>
        <div>
            <p>Log in</p>
        </div>
        <div>
            <p>Sign up</p>
        </div>
    </div>
</div>