
    <div class="col-12 align-self-center">
        <h1 class="zairja-head">
            zairja
        </h1>
    </div>

    <div>
        <p>Use without account</p>
    </div>
    <div>
        <div>
            <p>Log in</p>
        </div>
        <div>
            <p>Sign up</p>
        </div>
    </div>
